doctype html
html(lang='de')
  head
    include header.pug
    title WebDaD - AGB
  body
    .container
      h1 Allgemeinde Geschäftsbedingungen
      h2 $1 Gültigkeit der Bestimmungen
      p
        | Die Firma WebDaD Dominik Sigmund (im folgenden WebDaD genannt) führt Ihre Leistungen ausschließlich auf der Grundlage dieser Geschäftsbedingungen aus.
        | Dies gilt auch für alle zukünftigen Leistungen, falls die AGB nicht nochmals explizit verändert vereinbart werden. 
        | Abweichende Bedingungen bedürfen der Schriftform und sind nur nach schriftlicher Anerkennung durch die WebDaD gültig.
      hr
      h2 $2 Vertragsabschluss
      p 
        | Angebote sind stets freibleibend. Aufträge werden mit einer schriftlichen Auftragsbestätigung per Brief oder E-Mail zu den Bedingungen dieser AGB angenommen und in einem Vertrag festgeschrieben. Mündliche oder per E-Mail vereinbarte Sonderbedingungen bedürfen zu Ihrer Wirksamkeit der schriftlichen Bestätigung per Brief oder E-Mail und werden in einem Vertragszusatz festgehalten.
      hr
      h2 $3 Terminabsprachen
      p Frist- und Terminabsprachen sind grundsätzlich schriftlich festzuhalten bzw. zu bestätigen. Die Auftraggeber erkennen die Beweiskraft durchgehender Email-Korrespondenz an.
      hr
      h2 $4 Verbindlichkeit eines Auftrags
      p 
        | Für einen online oder durch Anfrage per Email vom Auftraggeber erteilten Dienstleistungsauftrag an die Firma WebDaD wird dem Auftraggeber nach der Erstellung eines Pflichtenheftes per Email eine Bestätigung und ein Vertrag zugesandt. 
        | Diesen Vertrag hat der Auftraggeber auszudrucken, den Inhalt auf Richtigkeit zu überprüfen und dann handschriftlich unterschrieben und ggf. mit Firmenstempel versehen an die WebDaD auf dem Postweg zuzusenden. 
        | Mit Zusendung des schriftlichen Vertrages durch den Auftraggeber wird die Bestellung für diesen verbindlich, d.h. für unsere Dienstleistungen ist der vereinbarte Preis nach Abnahme zu entrichten.
      hr 
      h2 $5 Auftragsablauf und Garantievereinbarung
      p 
        | Nach Erhalt der schriftlichen Auftragsbestätigung vom Auftraggeber nimmt WebDaD die Arbeit auf. Webseiten / Applikationen werden dem Auftraggeber zur Prüfung und Abnahme zur Verfügung gestellt. 
        | Der Auftraggeber hat das Recht, nach Einsichtnahme des Entwurfs Änderungen/Nachbesserungen zu verlangen oder kann (bei absolutem Nichtgefallen des Erstentwurfs) ein Zweitmuster fordern. 
        | Darüber hinausführende Änderungswünsche bewirken eine Änderung des Pflichtenheftes und müssen gesondert in einem Zusatzvertrag festgehalten werden, da sie eine Erhöhung der Kosten bewirken können. Dies wird in beiderseitigem Einvernehmen durchgeführt. 
      hr 
      h2 $6 Pflichten und Haftung des Auftraggebers
      p
        | Der Auftraggeber ist verpflichtet, das für Grafikdesign zur Verfügung gestellte Material auf eventuell bestehende Urheber- und Copyright-rechte zu überprüfen und eventuell notwendige Erlaubnisse zur Verwendung hierfür einzuholen. 
        | Etwaige Ansprüche wegen Urheberrechts- und Copyright-Verletzungen gehen voll zu Lasten des Auftraggebers. Davon ausgenommen sind Bilder und Skripte, die WebDaD beschafft hat. 
        | Die Verantwortung für eventuelle Textinhalte oder sonstige Veröffentlichungen trägt allein der Auftraggeber. 
        | Der Auftraggeber stellt WebDaD von allen Ansprüchen frei, die Dritte gegen sie stellen wegen eines Verhaltens, für das der Auftraggeber nach dem Vertrag die Verantwortung bzw. Haftung trägt. Er trägt die Kosten einer etwaigen Rechtsverfolgung.
      hr
      h2 $7 Vergütung
      p Die Vergütung für die erbrachten Dienstleistungen (Entwürfe, Reinzeichnungen, Programmierung etc.) sowie Gewährung der Nutzungsrechte erfolgt auf Grundlage des Angebotes, das Bestandteil des Vertrages ist.
      hr 
      h2 $8 Fälligkeit der Vergütung, Abnahme
      p Die Vergütung ist nach Abnahme der erbrachten Leistung fällig. WebDaD stellt nach erfolgter Abnahme durch den Auftraggeber eine entsprechende Rechnung aus, welche innerhalb von 10 Tagen nach Rechnungsdatum ohne Abzug zu zahlen ist. 
      h3 $8a
      p Die Abnahme hat innerhalb einer normalen Frist (in der Regel ist von maximal einer Arbeitswoche, d.h. 5 Arbeitstagen, auszugehen) zu erfolgen und darf nicht aus gestalterisch-künstlerischen Gründen verweigert werden. Im Rahmen des Auftrags besteht Gestaltungsfreiheit. Falls eine Abnahme - nach Mahnung durch WebDaD - auch nach maximal 10 Arbeitstagen nach Entwurfsübermittlung nicht durch den Auftraggeber erfolgt ist, gilt der Entwurf als abgenommen und wird in Rechnung gestellt. 
      h3 $8b
      p Eine Nichtabnahme unseres Zweitentwurfs, in Verbindung mit einem Auftragsrücktritt, entbindet den Auftraggeber nicht von seiner verbindlich erteilten Bestellung, d.h. WebDaD behält den Vergütungsanspruch für bereits begonnene / geleistete Arbeiten und das Recht auf Schadenersatz wegen Nichterfüllung.
      h3 $8c
      p Bei Zahlungsverzug kann WebDaD Verzugszinsen in Höhe von 6% über dem jeweiligen Basiszinssatz der Europäischen Zentralbank p.a. verlangen. Die Geltendmachung eines nachgewiesenen höheren Schadens bleibt davon ebenso unberührt wie die Berechtigung des Auftraggebers, im Einzelfall eine niedrigere Belastung nachzuweisen.
      hr
      h2 $9 Zahlungsbedingungen
      p Die vereinbarte Vergütung ist entsprechend der jeweils gültigen Preisliste, abgegebener individueller Angebote oder getroffener, schriftlicher Sondervereinbarungen innerhalb von 10 Tagen nach Rechnungsdatum rein netto ohne Abzüge fällig.
      hr 
      h2 $10 Gewährleistung, Mängel
      p 
        | WebDaD verpflichtet sich, den Auftrag mit größtmöglicher Sorgfalt auszuführen, insbesondere auch uns überlassene Vorlagen, Unterlagen, Muster etc. sorgfältig zu behandeln. | Wir verpflichten uns bei mangelhafter Leistung zur kostenlosen Nachbesserung nach eigener Wahl. 
        | Bei Fehlschlagen der Nachbesserung (z.B. bei Unmöglichkeit) kann der Auftraggeber, außer im Fall von Vorsatz oder grober Fahrlässigkeit, keinen Schadensersatzanspruch geltend machen, sondern lediglich Herabsetzung des Kaufpreises oder im Fall der Unmöglichkeit Rückgängigmachung des Kaufvertrages verlangen. 
        | Wir weisen darauf hin, dass auf der Homepage eingesetzte Fremd-Programme (Gästebücher, Formular-Mailer etc.) unentdeckte Sicherheitsrisiken beinhalten können. 
        | WebDaD haftet nicht für durch Mängel an Fremd-Programmen hervorgerufene Schäden.
      hr
      h2 $11 Haftungsbeschränkungen
      p Ausgeschlossen sind alle weitergehenden Ansprüche gleich aus welchem Rechtsgrund, insbesondere auf Ersatz von Schäden, die nicht an der geleisteten Leistung selbst entstanden sind, außer im Fall von Vorsatz oder grober Fahrlässigkeit. Im Übrigen haftet WebDaD bei Verletzung von Nebenpflichten oder unerlaubter Handlung nur im Fall von Vorsatz oder grober Fahrlässigkeit.
      hr
      h2 $12 Eigenwerbung
      p Der Auftraggeber erklärt sich damit einverstanden, dass WebDaD die für den Auftraggeber erstellten Grafiken, Webseiten etc. bei Bedarf als Referenz in seinen öffentlichen Galerien auf der Homepage ausstellen bzw. in sonstigen Werbemitteln als Nachweis seiner Arbeiten verwenden darf. Eine Veröffentlichung der URL der durch WebDaD bearbeiteten Webseite wird gestattet. Der Auftraggeber gestattet WebDaD an angebrachter Stelle einen Link auf die eigene Homepage und einen Hinweis im Impressum anzubringen.
      hr
      h2 $13 Geheimhaltung
      p 
        | Beide Vertragspartner verpflichten sich dazu, alle im Inhalt dieses Abkommens genannten Daten geheim zu halten, das heißt diese nicht an Dritte weiterzugeben oder die Weitergabe an Dritte zu ermöglichen.
        | Der Kunde verpflichtet sich, keine Interna der Firma WebDaD zu verwenden.
        | WebDaD verpflichtet sich, keine Interna des Kunden zu eigenen Zwecken zu verwenden.
      hr
      h2 $14 Geheimhaltungs-Fristen
      p Nach Ablauf einer bestimmten Frist nach Abnahme der Webseite ist es sowohl dem Kunden als auch der Firma WebDaD erlaubt, bestimmte Daten zu veröffentlichen. 
      h3 $14a
      p Alle technischen Daten, die die Webseite betreffen, dürfen 31 Tage nach Abnahme veröffentlicht werden. 
      h3 $14b
      p Alle Daten des Kunden, die auf der Webseite öffentlich einzusehen sind, dürfen 1 Tag nach Abnahme veröffentlicht werden.
      hr 
      h2 $15 Ausnahmen der Geheimhaltung
      p 
        | Beiden Partnern ist es erlaubt Daten zu veröffentlichen, die der Aufklärung von Strafdaten behilflich sein können.
        | Eine Veröffentlichung bestimmter Daten ist nach schriftlicher Genehmigung beiden Partnern erlaubt.
      hr 
      h2 $16 Vertragsstrafe bei Bruch der Geheimhaltung
      p Unabhängig von einem eventuellen Schadensersatzanspruch verpflichten sich beide Parteien, für jeden Fall des schuldhaften Verstoßes gegen diese Vereinbarung eine Vertragsstrafe in Höhe von EURO 1000 zu zahlen.
      hr 
      h2 $17 Domain
      p
        | WebDaD verpflichtet sich zum Kauf der vom Kunden gewünschten Domain.
        | Diese wird dem Kunden für die Dauer der Vertragslaufzeit zur Verfügung gestellt.
        | Der Kunde übernimmt die rechtliche Haftung für die Domain.
      hr
      h2 $18 Übernahme nach der Domain nach Ablauf des Vertrages
      p
        | Sollte der Vertrag enden, kann der Kunde die Domain für einen einmaligen Abschlagspreis kaufen.
        | Dieser richtet sich nach dem Wert der Domain zum Tage des Vertragsendes und berechnet sich wie folgt:
        | Gesamt-Preis = Basis-Preis + (Gesamt-Hits*0.01€) + (New-Impressions*0.1€)
        | Der Basispreis entspricht dem einmaligen Kaufpreis nach der Preisliste.
      hr 
      h2 $19 Web-Space
      p
        | WebDaD verpflichtet sich zum Kauf von ausreichend Webspace und benötigten Datenbanken, damit der Kunde seine Homepage online hosten kann.
        | Dieser Webspace wird dem Kunden für die Dauer der Vertragslaufzeit zur Verfügung gestellt.
        | Der Kunde Kundenname übernimmt die rechtliche Haftung für den Inhalt des Web-Spaces
      hr 
      h2 $20 Gerichtsstandort
      p Sofern sich aus der Auftragsbestätigung nichts anderes ergibt, ist München Gerichtsstandort. Es gilt das Recht der Bundesrepublik Deutschland.
      hr 
      h2 $21 Schlussbestimmungen
      p Sollte eine dieser Bestimmungen unwirksam sein, so wird dadurch die Wirksamkeit der übrigen Bestimmungen nicht berührt. Unwirksame Bestimmungen werden nach Möglichkeit durch solche wirksamen Bestimmungen ersetzt, die den angestrebten wirtschaftlichen Zweck weitgehend erreichen.
      include footer.pug
