footer.footer.container
  .col-md-2.col-xs-12
    a.btn.btn-link(style='color:white;' href="https://webdad.eu" target="_blank") Powered by WebDaD.eu
  .col-md-offset-6.col-md-4.col-xs-12
    a.btn.btn-link(style='color:white;' href="./impressum.html" target="_blank") Impressum
    a.btn.btn-link(style='color:white;' href="./agb.html" target="_blank") AGBs
    a.btn.btn-link(style='color:white;' href="./datenschutz.html" target="_blank") Datenschutzerklärung
