p
  a(href="https://webdad.eu" target="_blank") Powered by WebDaD.eu
p
  a(href="https://webdad.eu/impressum.html" target="_blank") Impressum
  span | 
  a(href="https://webdad.eu/agb.html" target="_blank") AGBs
  span | 
  a(href="https://webdad.eu/datenschutz.html" target="_blank") Datenschutzerklärung
