footer.footer.no-print
  .container
    .pull-left
      a.btn.btn-link(style='color:white;' href="http://webdad.eu" target="_blank") Powered by WebDaD.eu
    .pull-right
      a.btn.btn-link(style='color:white;' href="./impressum.html" target="_blank") Impressum
      a.btn.btn-link(style='color:white;' href="./agb.html" target="_blank") AGBs
      a.btn.btn-link(style='color:white;' href="./datenschutz.html" target="_blank") Datenschutzerklärung
