doctype html
html(lang='de')
  head
    meta(http-equiv='X-UA-Compatible', content='IE=edge')
    meta(name='viewport', content='width=device-width, initial-scale=1')
    meta(charset='UTF-8')
    meta(name='author', content='Dominik Sigmund')
    meta(name='publisher', content='Dominik Sigmund')
    meta(name='copyright', content='Dominik Sigmund')
    meta(name='description', content='WebDaD.eu - Wir kümmern uns um Ihren Web-Auftritt mit allem was dazugehört.')
    meta(name='keywords', content='webdad, website, homepage, webapp, design, coding, help')
    meta(name='page-topic', content='Dienstleistung')
    meta(name='audience', content='All')
    meta(http-equiv='content-language', content='de')
    meta(name='robots', content='index, follow')
    meta(name='DC.Creator', content='Dominik Sigmund')
    meta(name='DC.Publisher', content='Dominik Sigmund')
    meta(name='DC.Rights', content='Dominik Sigmund')
    meta(name='DC.Description', content='WebDaD.eu - Wir kümmern uns um Ihren Web-Auftritt mit allem was dazugehört.')
    meta(name='DC.Language', content='de')
    link(rel="apple-touch-icon", sizes="180x180", href="/images/apple-touch-icon.png")
    link(rel="icon", type="image/png", sizes="32x32", href="/images/favicon-32x32.png")
    link(rel="icon", type="image/png", sizes="16x16", href="/images/favicon-16x16.png")
    link(rel="manifest", href="/images/manifest.json")
    link(rel="mask-icon", href="/images/safari-pinned-tab.svg", color="#303f9f")
    link(rel="shortcut icon", href="/images/favicon.ico")
    meta(name="msapplication-config", content="/images/browserconfig.xml")
    meta(name="theme-color", content="#303f9f")
    link(rel='stylesheet', href='css/main.css')
    title WebDaD.eu - Impressum
  body
    .container
      h1 Impressum
      h2 Angaben gemäß § 5 TMG:
      p
        | Dominik
        | Sigmund
        br
        |  WebDaD.eu
        br
        |  Hubertusstr. 12
        br
        |  82296 Schöngeising
      h2 Kontakt:
      table
        tr
          td Telefon:
          td
            | 0179 830
            | 2800
        tr
          td Telefax:
          td -
        tr
          td E-Mail:
          td info@webdad.eu
      p
        | Wir sind nicht bereit oder
        | verpflichtet, an Streitbeilegungsverfahren vor einer
        | Verbraucherschlichtungsstelle teilzunehmen.
      h2
        | Haftung für
        | Inhalte
      p
        | Als Diensteanbieter sind wir gemäß § 7 Abs.1
        | TMG für eigene Inhalte auf diesen Seiten nach den allgemeinen Gesetzen
        | verantwortlich. Nach §§ 8 bis 10 TMG sind wir als Diensteanbieter
        | jedoch nicht verpflichtet, übermittelte oder gespeicherte fremde
        | Informationen zu überwachen oder nach Umständen zu forschen, die
        | auf eine rechtswidrige Tätigkeit hinweisen.
      p
        | Verpflichtungen zur
        | Entfernung oder Sperrung der Nutzung von Informationen nach den allgemeinen
        | Gesetzen bleiben hiervon unberührt. Eine diesbezügliche Haftung ist
        | jedoch erst ab dem Zeitpunkt der Kenntnis einer konkreten Rechtsverletzung
        | möglich. Bei Bekanntwerden von entsprechenden Rechtsverletzungen werden
        | wir diese Inhalte umgehend entfernen.
      h2 Haftung für Links
      p
        | Unser Angebot enthält Links zu externen Webseiten Dritter, auf deren
        | Inhalte wir keinen Einfluss haben. Deshalb können wir für diese
        | fremden Inhalte auch keine Gewähr übernehmen. Für die Inhalte
        | der verlinkten Seiten ist stets der jeweilige Anbieter oder Betreiber der
        | Seiten verantwortlich. Die verlinkten Seiten wurden zum Zeitpunkt der
        | Verlinkung auf mögliche Rechtsverstöße überprüft.
        | Rechtswidrige Inhalte waren zum Zeitpunkt der Verlinkung nicht erkennbar.
      p
        | Eine permanente inhaltliche Kontrolle der verlinkten Seiten ist jedoch
        | ohne konkrete Anhaltspunkte einer Rechtsverletzung nicht zumutbar. Bei
        | Bekanntwerden von Rechtsverletzungen werden wir derartige Links umgehend
        | entfernen.
      h2 Urheberrecht
      p
        | Die durch die Seitenbetreiber
        | erstellten Inhalte und Werke auf diesen Seiten unterliegen dem deutschen
        | Urheberrecht. Die Vervielfältigung, Bearbeitung, Verbreitung und jede
        | Art der Verwertung außerhalb der Grenzen des Urheberrechtes
        | bedürfen der schriftlichen Zustimmung des jeweiligen Autors bzw.
        | Erstellers. Downloads und Kopien dieser Seite sind nur für den privaten,
        | nicht kommerziellen Gebrauch gestattet.
      p
        | Soweit die Inhalte auf dieser
        | Seite nicht vom Betreiber erstellt wurden, werden die Urheberrechte Dritter
        | beachtet. Insbesondere werden Inhalte Dritter als solche gekennzeichnet.
        | Sollten Sie trotzdem auf eine Urheberrechtsverletzung aufmerksam werden,
        | bitten wir um einen entsprechenden Hinweis. Bei Bekanntwerden von
        | Rechtsverletzungen werden wir derartige Inhalte umgehend
        | entfernen.
      p  
      p
        | Quelle: 
        a(href='https://www.e-\
        recht24.de') eRecht24
