doctype html
html(lang='de')
  head
    meta(http-equiv='X-UA-Compatible', content='IE=edge')
    meta(name='viewport', content='width=device-width, initial-scale=1')
    meta(charset='UTF-8')
    meta(name='author', content='Dominik Sigmund')
    meta(name='publisher', content='Dominik Sigmund')
    meta(name='copyright', content='Dominik Sigmund')
    meta(name='description', content='WebDaD.eu - Wir kümmern uns um Ihren Web-Auftritt mit allem was dazugehört.')
    meta(name='keywords', content='webdad, website, homepage, webapp, design, coding, help')
    meta(name='page-topic', content='Dienstleistung')
    meta(name='audience', content='All')
    meta(http-equiv='content-language', content='de')
    meta(name='robots', content='index, follow')
    meta(name='DC.Creator', content='Dominik Sigmund')
    meta(name='DC.Publisher', content='Dominik Sigmund')
    meta(name='DC.Rights', content='Dominik Sigmund')
    meta(name='DC.Description', content='WebDaD.eu - Wir kümmern uns um Ihren Web-Auftritt mit allem was dazugehört.')
    meta(name='DC.Language', content='de')
    link(rel="apple-touch-icon", sizes="180x180", href="/images/apple-touch-icon.png")
    link(rel="icon", type="image/png", sizes="32x32", href="/images/favicon-32x32.png")
    link(rel="icon", type="image/png", sizes="16x16", href="/images/favicon-16x16.png")
    link(rel="manifest", href="/images/manifest.json")
    link(rel="mask-icon", href="/images/safari-pinned-tab.svg", color="#303f9f")
    link(rel="shortcut icon", href="/images/favicon.ico")
    meta(name="msapplication-config", content="/images/browserconfig.xml")
    meta(name="theme-color", content="#303f9f")
    link(rel='stylesheet', href='css/main.css')
    title WebDaD.eu
  body
    .share-buttons
      a.facebook(href="https://www.facebook.com/sharer/sharer.php?u=http%3A//webdad.eu" target="_blank")
        i.fa.fa-facebook(aria-hidden="true")
      a.twitter(href="https://twitter.com/home?status=http%3A//webdad.eu" target="_blank")
        i.fa.fa-twitter(aria-hidden="true")
      a.google-plus(href="https://plus.google.com/share?url=http%3A//webdad.eu" target="_blank")
        i.fa.fa-google-plus(aria-hidden="true")
      a.whatsapp.visible-xs-block(href="whatsapp://send?text=http%3A//webdad.eu" data-action="share/whatsapp/share")
        i.fa.fa-whatsapp(aria-hidden="true")
    nav.navbar.navbar-default.navbar-fixed-top
      .container
        .navbar-header
          button.navbar-toggle.collapsed(type="button" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false")
            span.sr-only Toggle navigation
            span.icon-bar
            span.icon-bar
            span.icon-bar
          a.navbar-brand(href='#top') WebDaD.eu
        .collapse.navbar-collapse#bs-example-navbar-collapse-1
          ul.nav.navbar-nav
            li
              a(href="#ueber_uns") Über Uns
            li
              a(href="#kontakt") Kontakt
            li
              a(href="#referenzen") Referenzen
            li
              a(href="#apps") Apps  
            li
              a(href="#games") Games  
    .container
      #top
        .container-fluid
          .row
            #top-box.jumbotron.col-md-5.col-md-offset-6
              h1 WebDaD.eu
              include assets/chapters/jumbo.pug
              p
                a.btn.btn-primary.btn-lg(href="#kontakt" role="button") Jetzt ein kostenloses Angebot einholen!
      h1#ueber_uns Über uns
      include assets/chapters/about_us.jade
      hr
      h1#kontakt Kontakt
      include assets/chapters/contact.pug
      hr
      h1#referenzen Referenzen
      include assets/chapters/referenzen.pug
      hr
      h1#apps Apps
      include assets/chapters/apps.pug
      hr
      h1#games Games
      include assets/chapters/games.pug
      footer.footer
        .container
          .pull-left
            a.btn.btn-link(style='color:white;' href="http://webdad.eu" target="_blank") Powered by WebDaD.eu
          .pull-right
            a.btn.btn-link(style='color:white;' href="./impressum.html" target="_blank") Impressum
            a.btn.btn-link(style='color:white;' href="./datenschutz.html" target="_blank") Datenschutzerklärung
              
    script(src="js/main.js")
    script(src='https://www.google.com/recaptcha/api.js')
