doctype html
html(lang='de')
  head
    include header.pug
  body
    include up.pug
    include share-buttons.pug
    include navbar.pug
      #top
        .container
          .row
            .col-sm-4
              img.img-responsive.lazy(src='/images/apple-touch-icon.png' alt="WebDaD - Web Development and Design Logo")
            .col-sm-8
              h1
                span WebDaD
                small Web Development and Design
              p Wir kümmern uns um Ihren Web-Auftritt.
              a.btn.btn-primary.btn-lg.no-print(href="#kontakt" role="button") Jetzt ein kostenloses Angebot einholen!
      .container
        h1#ueber_uns Über uns
        include assets/chapters/about_us.pug
        hr.no-print.page-break-after
        h1#kontakt Kontakt
        include assets/chapters/contact.pug
        hr.no-print.page-break-after
        h1#referenzen Referenzen
        include assets/chapters/referenzen.pug
        hr.no-print.page-break-after
        h1#apps Apps
        include assets/chapters/apps.pug
        hr.no-print.page-break-after
        h1#games Games
        include assets/chapters/games.pug
        include footer.pug
    script(src="js/main.js")
    script(src='https://www.google.com/recaptcha/api.js')
