doctype html
html(lang='de')
  head
    include header_lite.pug
  body
    h1 WebDaD
    p Web Development and Design
    p Ob Webseiten, Anwendungen oder Service:
    p Wir kümmern uns um Ihren Web-Auftritt.
    a(href="mailto:dominik.sigmund@webdad.eu") Jetzt kostenloses Angebot anfordern!
    h2#ueber_uns Ihre Vorteile
    include assets/chapters/lite/about_us.pug
    h2#referenzen Referenzen
    include assets/chapters/lite/referenzen.pug
    h2#service Service
    include assets/chapters/lite/service.pug
    h2#apps Apps
    include assets/chapters/lite/apps.pug
    h2#history Firmengeschichte
    include assets/chapters/lite/history.pug
    hr
    include footer_lite.pug
