.share-buttons.no-print
  a.facebook(href="https://www.facebook.com/sharer/sharer.php?u=http%3A//webdad.eu" target="_blank"  title="Share on Facebook")
    i.fa.fa-facebook(aria-hidden="true")
    span.sr-only Share on Facebook
  a.mail(href="mailto:?subject=http%3A//webdad.eu" title="Share by Mail")
    i.fa.fa-envelope(aria-hidden="true")
    span.sr-only Share by Mail
  a.twitter(href="https://twitter.com/home?status=http%3A//webdad.eu" target="_blank" title="Share on Twitter")
    i.fa.fa-twitter(aria-hidden="true")
    span.sr-only Share on Twitter
  a.google-plus(href="https://plus.google.com/share?url=http%3A//webdad.eu" target="_blank" title="Share on Google+")
    i.fa.fa-google-plus(aria-hidden="true")
    span.sr-only Share on Google+
  a.whatsapp.visible-xs-block(href="whatsapp://send?text=http%3A//webdad.eu" data-action="share/whatsapp/share")
    i.fa.fa-whatsapp(aria-hidden="true")
    span.sr-only Share with WhatsApp
