@import "palette.less";
@import "navbar.less";
@import "share-buttons.less";

/* Header */
#top {
  background-color: @primaryColor;
  color: @accentColor;
  padding-bottom: 15px;
}
#top > div > div > div.col-sm-4 > img {
  margin: 0 auto;
}
#top > div > div > div.col-sm-8 > h1 {
  font-size:4.5vw;
}
#top > div > div > div.col-sm-8 > p {
  font-size:3.5vw;
}
#top > div > div > div.col-sm-8 > a {
  font-size:3.5vw;
}
#top > div > div > div.col-sm-8 > h1 span {
  color: @accentColor !important;
}
#top > div > div > div.col-sm-8 > h1 small {
  color: @accentColor !important;
}
@media (max-width: 767px) {
  #top > div > div > div.col-sm-8.text-right > h1 {  text-align: center;}
  #top > div > div > div.col-sm-8.text-right > p {  text-align: center;}
  #top > div > div > div.col-sm-8.text-right > h1 small {white-space:pre-line; }
  #top > div > div > div.col-sm-8.text-right > h1 small:before { content: '\A'; }
}
body {
  padding-top: 50px;
}
@media (min-width: 768px) {
  #top {
    height:360px;
  }
  #top .container {
    height:100%;
    .row {
      height:100%;
      .col-sm-4 {
        height:100%;
      }
      .col-sm-8 {
        height:100%;
        display: table;
        font-size:2vw;
        h1 {
          font-size:3.5vw;
        }
        p {
          font-size:2vw;
        }
        a {
          font-size:2vw;
        }
      }
    }
  }
}
/* fitting bg-colos btns */
.btn-primary {
  background-color: @primaryColor;
  color: @textPrimaryColor;
}
.btn-primary:hover {
  background-color: @accentColor;
  color: @secondaryTextColor;
}
.ghost-button {
  background-color: @accentColor;
}
.ghost-button:hover {
  background-color: @primaryColor;
  color: @accentColor;
}
/* Icon Cards */
.icard {
  text-align: center;
}
.icard i {
  color: @accentColor;
  font-size: 20vw;
}
@media (min-width: 768px) {
  .icard i {
    font-size: 5vw;
  }
}
/* Reference Cards */
.rcard img {
  height:100px;
  width:auto;
}
/* row grid error */
.row.row-grid [class*="col-"] {
    margin-top: 15px;
}
/* Project Cards */
.pcard {
    border: 1px solid #CDCDCD;
    border-radius:10px;
    margin:10px;
    height:150px;
}
.pcard a img {
  height:150px;
  width:auto;
}
.pcard .row [class*="col-"] {
    margin-top: 0px;
}
/* up button */
#up {
  position: fixed;
  bottom:60px;
  right:10px;
  z-index:999;
}
@media (min-width: 768px) {
  #up {
    bottom:10px;
  }
}

/* navbar mobile extensions */
.nav>li {
  text-align: right;
}
@media (max-width: 767px) {
  .nav>li a {
    font-size: 26px;
  }
}
/* color to inlines */
em {
  color: @accentColor;
}
strong {
  color: @primaryColor;
}
hr {
  border-color: @primaryColor;
}
h1 {
  color: @primaryColor;
}




/* better typhography */
body {
  font-family: 'Helvetica Neue';
  letter-spacing: -.01em;
}
p, figcaption, td, li, a, label, .alert {
  font-size: 20px;
	font-size: 1.8rem;
  font-style: normal;
	font-weight: 400;
  line-height: 1.4;
  word-wrap: normal;
}


/* Footer */
footer {
  background-color: #212121;
  color: #f0f0f0 !important;
  width: 100%;
  padding-top: 10px;
  margin-top: 20px;
}

/* contact */
#form-selector-form {
  display:none;
}
