@import "palette.less";
@import "navbar.less";
@import "share-buttons.less";

/* Header */
#top {
  background-color: @darkPrimaryColor;
  color: @secondaryTextColor;
}
@media (max-width: 767px) {
  h1 {  text-align: center;}
  small {white-space:pre-line;}
  small:before { content: '\A'; }
}
/* fitting bg-colos btns */
.btn-primary {
  background-color: @darkPrimaryColor;
}
.btn-primary:hover {
  background-color: @accentColor;
  color: @secondaryTextColor;
}

/* up button */
#up {
  position: fixed;
  bottom:60px;
  right:10px;
  z-index:99;
}
@media (min-width: 768px) {
  #up {
    bottom:10px;
  }
}

/* navbar mobile extensions */
.nav>li {
  text-align: right;
}
@media (max-width: 767px) {
  .nav>li a {
    font-size: 26px;
  }
}
/* Header */
@media (min-width: 992px) {
  body {
    padding-top: 50px;
  }
}
@media (max-width: 991px) {
  body {
    padding-top: 100px;
  }
}
@media (max-width: 767px) {
  body {
    padding-top: 50px;
  }
}

/* better typhography */
p, figcaption, .click-to-tweet-text, td {
  font-family: 'Helvetica Neue';
  font-size: 20px;
	font-size: 1.8rem;
	letter-spacing: -.01em;
  font-style: normal;
	font-weight: 400;
  line-height: 1.4;
  word-wrap: normal;
}

/* row grid error */
.row.row-grid [class*="col-"] {
    margin-top: 15px;
}

/* color to inlines */
em {
  color: @secondary;
}
strong {
  color: @primary;
}

/* Footer */
footer {
  background-color: #212121;
  color: #f0f0f0 !important;
  width: 100%;
  padding-top: 10px;
  margin-top: 20px;
}

/* contact */
#form-selector-form {
  display:none;
}
