.row.row-grid#form-selector-buttons.no-print
  .col-md-2.col-sm-6.col-xs-12
    button.btn.btn-lg.btn-primary.btn-block.form-selector(data-type="website") Webseite
  .col-md-2.col-sm-6.col-xs-12
    button.btn.btn-lg.btn-primary.btn-block.form-selector(data-type="rebuild") Umbau
  .col-md-2.col-sm-6.col-xs-12
    button.btn.btn-lg.btn-primary.btn-block.form-selector(data-type="support") Unterstützung
  .col-md-2.col-sm-6.col-xs-12
    button.btn.btn-lg.btn-primary.btn-block.form-selector(data-type="service") Service
  .col-md-2.col-sm-6.col-xs-12
    button.btn.btn-lg.btn-primary.btn-block.form-selector(data-type="other") Sonstiges
  .col-md-2.col-sm-6.col-xs-12
    button.btn.btn-lg.btn-primary.btn-block.form-selector(data-type="error") Fehler
#form-selector-form.no-print
  .form-group
    button#form-selector-back.btn.btn-lg.btn-default
      i.fa.fa-arrow-left(aria-hidden="true")
      span.sr-only Back
  .form-group#form-selector-type
    label(for='contact-type') Typ
    p#contact-type.form-control-static
  .form-group#form-selector-url
    label(for='contact-url') URL
    input#contact-url.form-control(type='text', placeholder="https://...")
  .form-group#form-selector-name
    label(for='contact-name') Name
    input#contact-name.form-control(type='text', placeholder="Name")
  .form-group#form-selector-mail
    label(for='contact-mail') E-Mail
    input#contact-mail.form-control(type='text', placeholder="E-Mail")
  .form-group#form-selector-message
    label(for='contact-message') Nachricht
    textarea#contact-message.form-control(placeholder="Nachricht")
  .form-group
    .g-recaptcha(data-sitekey=keys.gcaptchasitekey)
  .form-group
    button#contact-send.btn.btn-primary.btn-lg.btn-block Abschicken
#contact-result.no-print
hr.no-print
p
  a(href="mailto:info@webdad.eu" itemprop="email") Oder per E-Mail
p Oder Telefon: <span itemprop="telephone">0179 / 830 2800</span>
