.row
  .col-md-12
    p Die Firma <span itemprop="legalName">WebDaD</span> wurde am <span itemprop="foundingDate">01.06.2011</span> von <span itemprop="founder">Dominik Sigmund</span> in <span itemprop="foundingLocation">Gröbenzell</span> gegründet. 
    p Der Name bezieht sich auf "Web Development and Design", da wir nicht nur Webseiten designen, sondern auch aktiv Entwicklung betreiben. Zunächst wurden nur kleinere Webseiten erstellt.
    p Ab dem Jahr 2012 begann WebDaD damit, auch eigene Projekte umzusetzen, die 2013 veröffentlicht werden.
    p Seit dem Jahre 2013 unterstützen auch freiberufliche Mitarbeiter die Firma bei der Umsetzung einzelner Projekte.
    p 2014 begannen wir aktiv mit der Entwicklung von Apps.
    p 2015 wurde der <a href="#service">Service-Bereich</a> ins Leben gerufen, um den wachsenden Bedürfnissen unserer Kunden besser entsprechen zu können.
    p 2016 und 2017 haben wir die Weiterentwicklung unserer <a href="#apps">Tools</a> und das Erstellen vieler neuer Webseiten durchgeführt.
    p 2018 werden wir die Zusammenarbeit mit der Messe München und dem PRIX JEUNESSE intensivieren.
    p Die Kernleistung von WebDaD besteht in der Erstellung von Webseiten für jedermann und <span itemprop="areaServed">Weltweit</span>.
    p Wir bieten Ihnen hier völlige Flexibilität, von der Verwendung von Content Management Systemen wie Joomla! oder WordPress über eine freie Verwaltung der Seite bis hin zu Lösungen, die nur begrenzte Ressourcen verwenden (z.B. für embedded Systeme). Jede Webseite, die wir erstellen, wird von Grund auf konzipiert und Ihren Wünschen entsprechend designt.
    a(href="#kontakt") Gerne bieten wir Ihnen eine kostenlose Analyse Ihrer Anforderungen an!