p Die Firma WebDaD bietet auch allgemeinen Service an, um Sie im Web oder an Ihrem Arbeitsplatz zu unterstützen!
h2 PC-Service
p Wir bieten alle Leistungen rund um den Lebenszyklus Ihres PC’s, Notebooks oder Tablets an:
ul
  li Neuaufstellung, Installation und Konfiguration
  li Upgrade
  li Reparatur
  li Austausch
  li Netzwerke
  li Auch um Ihr Büro-Netzwerk oder Haus-Netzwerk kümmern wir uns gerne.
p Von der Verlegung der Kabel bis zur Konfuguration der WLAN-Router – Gerne erfüllen wir hier Ihre Wünsche!
h2 Web-Service
p
  | Probleme mit Ihrer Webseite im Netz?
  | Sie erhalten Spam durch Ihre Kontakt-Formulare?
  | Sie wollen Inhalte auf Ihrer bestehenden Seite ändern?
  | Ihre Facebook-Seite hat Ihr neues Logo noch nicht?
  | Diese Probleme und noch viel mehr können wir lösen und Ihnen die Arbeit abnehmen.
h2 Schulungen
p
  | Zu jeder Leistung, die wir erbringen, bieten wir Ihnen auch eine Schulung an.
  | In dieser zeigen wir Ihnen individuell die Bedienung und Verwaltung ihrer Lösung.
  | In Zukunft wird die Firma WebDaD.eu auch allgemeine Schulungen anbieten.
h2 Architektur
p 
  | Ein großes Softwareprojekt muss umgesetzt werden.
  | Ein bestehendes System soll an andere Systeme angebunden werden.
  | Die Systemumgebung soll vereinfacht werden.
  | Bei diesen und noch viel mehr Problemen beraten wir Sie gerne und erstellen mit Ihnen zusammen eine lösungsorientierte Systemarchitektur. 
h2 Datenbanken
p
  | Sie planen gerade eine Software und brauchen Unterstützung bei der Planung und Erstellung einer passenden Datenbank?
  | Sie haben verschiedene Datenbanken und wollen diese zu einer einzigen verbinden?
  | Sie brauchen spezielle Abfragen oder Suchen auf ihrem Datenbestand?
  | Bei all diesen und vielen weiteren Datenbankthemen stehen wir Ihnen gerne zur Seite!
