p Die Firma WebDaD bietet auch allgemeinen Service an, um Sie im Web oder an Ihrem Arbeitsplatz zu unterstützen!
h2 PC-Service
p Wir bieten alle Leistungen rund um den Lebenszyklus Ihres PC’s, Notebooks oder Tablets an:
ul
  li Neuaufstellung, Installation und Konfiguration
  li Upgrade
  li Reparatur
  li Austausch
  li Netzwerke
  li Auch um Ihr Büro-Netzwerk oder Haus-Netzwerk kümmern wir uns gerne.
p Von der Verlegung der Kabel bis zur Konfuguration der WLAN-Router – <a href="#kontakt">Gerne erfüllen wir hier Ihre Wünsche!</a>
h2 Web-Service
p Probleme mit Ihrer Webseite im Netz?
p Sie erhalten Spam durch Ihre Kontakt-Formulare?
p Sie wollen Inhalte auf Ihrer bestehenden Seite ändern?
p Ihre Facebook-Seite hat Ihr neues Logo noch nicht?
p <a href="#kontakt">Diese Probleme und noch viel mehr können wir lösen!</a>
h2 Schulungen
p Zu jeder Leistung, die wir erbringen, bieten wir Ihnen auch eine Schulung an.
p In dieser zeigen wir Ihnen individuell die Bedienung und Verwaltung ihrer Lösung.
p In Zukunft wird die Firma WebDaD auch allgemeine Schulungen anbieten.
h2 Architektur
p Ein großes Softwareprojekt muss umgesetzt werden.
p Ein bestehendes System soll an andere Systeme angebunden werden.
p Die Systemumgebung soll vereinfacht werden.
p Bei diesen und noch viel mehr Problemen <a href="#kontakt">beraten wir Sie gerne und erstellen mit Ihnen zusammen eine lösungsorientierte Systemarchitektur.</a> 
h2 Datenbanken
p Sie planen gerade eine Software und brauchen Unterstützung bei der Planung und Erstellung einer passenden Datenbank?
p Sie haben verschiedene Datenbanken und wollen diese zu einer einzigen verbinden?
p Sie brauchen spezielle Abfragen oder Suchen auf ihrem Datenbestand?
p <a href="#kontakt">Bei all diesen und vielen weiteren Datenbankthemen stehen wir Ihnen gerne zur Seite!</a>
