h3 Design
p 
  | Vom fertigen Theme über OnePager bis hin zu komplett designten Webseiten:
  | WebDaD liefert, was Sie wollen.
  | Zusätzlich bieten wir an, Werbematerial für sie zu entwerfen (Poster, Schilder, Sticker, Stifte, …).
h3 Geschwindigkeit
p Die Nutzung des Internet besteht heutzutage vor allem aus Smartphone-Nutzern. Hier ist Geschwindigkeit der Schlüssel. Durch optimierte Seiten und andere Techniken, wie das Nachladen von Bildern on-Demand und Caching erzielen wir hier gute Effekte.
h3 SEO
p Die Firma WebDaD bietet zu Webseiten auch SEO (Search Engine Optimization) an, dass heißt wir optimieren Ihre neue Seite insofern, als dass sie besser bei Suchmaschinen zu finden sind. Gerne untersuchen wir auch Ihre bestehenden Seiten und zeigen Ihnen Möglichkeiten, Ihre Seite zu optimieren.
h3 Social Media
p
  | Facebook, Google+, Twitter, YouTube, …
  | Alle diese sozialen Medien werden immer wichtiger für die Präsenz einer Marke im Web.
  | Die Firma WebDaD kann hier Ihr Partner sein und bietet Ihnen die Erstellung, Verwaltung und Verknüpfung von sozialen Medien an Ihre vorhandenen Inhalte an.
h3 Analytics
p
  | Sie würden gerne wissen, welche Zielgruppen Ihre Seite besuchen?
  | Oder von welcher Seite aus die Besucher oft die Seite verlassen?
  | Auch hier können und wollen wir Ihr Partner sein!
h3 Responsiv
p
  | Unsere Webseiten sind standartmäßig nach dem Grundsatz "mobile first" gestaltet.
  | Das heißt, auf mobilen Geräten sehen unsere Seiten genauso gut aus wie auf dem Desktop.